body{
    overflow: hidden;
  }

.navbar > .container {
    margin: 0px 30px !important;
}

.navbar{
    flex-wrap: nowrap !important;
}
.nav{
    flex-wrap: nowrap !important;
}


.form-container{
    display: flex;
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 20px;
    background:
}


form{
    color: white;
}